<!-- Inquiry Modal -->
<div class="modal fade" id="postpropertyModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Post Property & Collaborate</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'postproperty' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="request_id" value="2">
            <div class="form-group">
              <label for="property_name" class="col-form-label">Request</label>
              <input type="text"  name="request_name" class="form-control" value="Post Property & Collaborate" readonly>
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" name="phone" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Message:</label>
              <textarea name="message" class="form-control" placeholder="Feel free to share your requirement or Just leave this blank. We will get back to you."></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>